In [2]:
import warnings
warnings.filterwarnings(action="ignore")

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [26]:
df=pd.read_csv("transfers1.csv")

In [5]:
df.head(10)

,player_id,transfer_date,transfer_season,from_club_id,to_club_id,from_club_name,to_club_name,transfer_fee,market_value_in_eur,player_name
0,16136,2026-07-01,26/27,417,123,OGC Nice,Retired,NaN,500000.0,Dante
1,1138758,2026-07-01,26/27,336,631,Sporting CP,Chelsea,52140000.0,45000000.0,Geovany Quenda
2,195778,2026-06-30,25/26,79,27,VfB Stuttgart,Bayern Munich,0.0,12000000.0,Alexander Nübel
3,569033,2026-06-30,25/26,39,27,1.FSV Mainz 05,Bayern Munich,0.0,4000000.0,Armindo Sieb
4,626913,2026-06-30,25/26,398,380,Lazio,Salernitana,0.0,15000000.0,Boulaye Dia
5,743395,2026-06-30,25/26,9010,15,FCV Dender EH,B. Leverkusen,0.0,1500000.0,Noah Mbamba
6,887834,2026-06-30,25/26,979,1023,Moreirense,Palmeiras,0.0,1000000.0,Michel
7,1047109,2026-06-30,25/26,2672,265,APO Levadiakos,Panathinaikos,0.0,300000.0,Georgios Katris
8,128223,2026-01-20,25/26,141,5,Galatasaray,AC Milan,0.0,13000000.0,Álvaro Morata
9,955213,2026-01-01,25/26,10690,36949,Zorya Lugansk,Dynamo Kyiv U19,0.0,50000.0,Andriy Matkevych

In [6]:
df.isna().sum()

player_id                  0
transfer_date              0
transfer_season            0
from_club_id               0
to_club_id                 0
from_club_name             0
to_club_name               0
transfer_fee           27715
market_value_in_eur    30316
player_name                0
dtype: int64

In [7]:
df.describe()

,player_id,from_club_id,to_club_id,transfer_fee,market_value_in_eur
count,7.964600e+04,79646.000000,79646.000000,5.193100e+04,4.933000e+04
mean,4.232426e+05,17158.688220,12902.337556,1.115650e+06,2.488055e+06
std,2.694543e+05,23567.526887,20482.855861,5.258424e+06,5.901403e+06
min,3.333000e+03,1.000000,1.000000,0.000000e+00,1.000000e+04
25%,2.073020e+05,853.000000,589.000000,0.000000e+00,2.250000e+05
50%,3.711975e+05,6646.000000,2976.000000,0.000000e+00,6.000000e+05
75%,5.971530e+05,24226.000000,14685.000000,0.000000e+00,2.000000e+06
max,1.391239e+06,129264.000000,128258.000000,1.800000e+08,1.800000e+08

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79646 entries, 0 to 79645
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   player_id            79646 non-null  int64
 1   transfer_date        79646 non-null  object
 2   transfer_season      79646 non-null  object
 3   from_club_id         79646 non-null  int64
 4   to_club_id           79646 non-null  int64
 5   from_club_name       79646 non-null  object
 6   to_club_name         79646 non-null  object
 7   transfer_fee         51931 non-null  float64
 8   market_value_in_eur  49330 non-null  float64
 9   player_name          79646 non-null  object
dtypes: float64(2), int64(3), object(5)
memory usage: 6.1+ MB

In [9]:
print(df.shape)
print(df.columns)

(79646, 10)
Index(['player_id', 'transfer_date', 'transfer_season', 'from_club_id',
       'to_club_id', 'from_club_name', 'to_club_name', 'transfer_fee',
       'market_value_in_eur', 'player_name'],
      dtype='object')

In [10]:
df = df[df['transfer_fee'].notna()].reset_index(drop=True)
print(f"Remaining rows after dropping null transfer fees: {len(df)}")

Remaining rows after dropping null transfer fees: 51931

In [11]:
df.isna().sum()

player_id                  0
transfer_date              0
transfer_season            0
from_club_id               0
to_club_id                 0
from_club_name             0
to_club_name               0
transfer_fee               0
market_value_in_eur    10892
player_name                0
dtype: int64

In [12]:
df['market_value_in_eur'] = df.groupby('transfer_season')['market_value_in_eur'].transform(
    lambda x: x.fillna(x.median())
)
print(df['market_value_in_eur'].isna().sum())

164

In [13]:
df.isna().sum()

player_id                0
transfer_date            0
transfer_season          0
from_club_id             0
to_club_id               0
from_club_name           0
to_club_name             0
transfer_fee             0
market_value_in_eur    164
player_name              0
dtype: int64

In [14]:
# Step 1: Season-wise median (already applied — safe to re-run)
df['market_value_in_eur'] = df.groupby('transfer_season')['market_value_in_eur'].transform(
    lambda x: x.fillna(x.median())
)

# Step 2: Fill any remaining NaNs with overall median
df['market_value_in_eur'].fillna(df['market_value_in_eur'].median(), inplace=True)

# Confirm fix
print("✅ Remaining nulls in market_value_in_eur:", df['market_value_in_eur'].isna().sum())

✅ Remaining nulls in market_value_in_eur: 0

In [15]:
# Convert transfer_date to datetime (if not already done)
df['transfer_date'] = pd.to_datetime(df['transfer_date'], errors='coerce')

# Extract year and month from transfer_date
df['transfer_year'] = df['transfer_date'].dt.year
df['transfer_month'] = df['transfer_date'].dt.month

# Create a binary feature: is this a high-profile transfer? (threshold: €10 million)
df['is_big_transfer'] = df['market_value_in_eur'] > 10_000_000

# Flag if player changed club (not an internal move)
df['club_changed'] = df['from_club_name'] != df['to_club_name']

# Ratio of market value to actual transfer fee (sanity check / model feature)
df['market_fee_ratio'] = df['market_value_in_eur'] / (df['transfer_fee'] + 1)  # +1 to avoid divide by zero

In [16]:
from sklearn.preprocessing import LabelEncoder

le_from = LabelEncoder()
le_to = LabelEncoder()
le_season = LabelEncoder()

df['from_club_encoded'] = le_from.fit_transform(df['from_club_name'])
df['to_club_encoded'] = le_to.fit_transform(df['to_club_name'])
df['season_encoded'] = le_season.fit_transform(df['transfer_season'])

In [17]:
# Feature list
features = [
    'market_value_in_eur',
    'transfer_year', 'transfer_month',
    'is_big_transfer', 'club_changed',
    'from_club_encoded', 'to_club_encoded',
    'season_encoded'
]

target = 'transfer_fee'

In [18]:
from sklearn.model_selection import train_test_split

X = df[features]
y = df[target]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [22]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, r2_score

# Define features and target
features = [
    'market_value_in_eur',
    'transfer_year', 'transfer_month',
    'is_big_transfer', 'club_changed',
    'from_club_encoded', 'to_club_encoded',
    'season_encoded'
]
target = 'transfer_fee'

X = df[features]
y = df[target]

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

# Train Random Forest
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Predict
y_pred = model.predict(X_test)

# Evaluate
print("✅ MAE:", round(mean_absolute_error(y_test, y_pred), 2))
print("✅ R² Score:", round(r2_score(y_test, y_pred), 4))

✅ MAE: 985264.54
✅ R² Score: 0.5681

In [24]:
pip uninstall pandas
pip install pandas

SyntaxError: invalid syntax (1215329147.py, line 1)